#taskInput {
  text-decoration: none;
  border-radius: 30px;
  border: none;
  width: 400px;
  padding: 20px;
  font-size: 15px;
}
/* Add your custom styles here */
button.delete-btn {
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 13px;
  padding: 5px 10px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10px;
}
button.edit-btn{
  position: absolute;
  right: 60;
  border-radius: 13px;
  padding: 5px 10px;
  cursor: pointer;
  color: #fff;
  border: none;
  background-color: #37ff48;

}
li{
  position: relative; /* Add relative positioning to the list items */
  margin-bottom: 10px;
}
li:hover {
  cursor: pointer;
}
.completed {
  text-decoration: line-through; /* Add a line-through text decoration for completed tasks */
  color: #888;
}
.task-date {
  color: #888;
  font-size: 0.8rem;
  position: absolute;
  right: 100;
  padding: 5px;
}
